@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes opacityIn {
  0%{
    display: none;
    opacity: 0%;
  }
  100%{
    display: flex;
    opacity: 100%;
  }
}

@keyframes opacityOut {
  0%{
    display: flex;
    opacity: 100%;
  }
  100%{
    display: none;
    opacity: 0%;
  }
}

:root {
  --background-color: white;
  --cart-color: white;
  --text-color: #27272a;
  --border-color: white;
  --fill-button-color: #27272a;
  --fill-text-color: white;
  --searchbar-color: #dddbe0;
  --searchbar-text: rgb(116, 116, 116);
  --gold: #F29000;
}

.dark {
  --background-color: #0a090d;
  --cart-color: #252525;
  --text-color: white;
  --border-color: #211e2b;
  --fill-button-color: white;
  --fill-text-color: #0a090d;
  --searchbar-color: #252525;
  --searchbar-text: rgb(187, 184, 184);
  --gold: #e0ac00;
}

@keyframes zooms {
  0%{
    opacity: 0;
    transform: scale(0);
  }
  100%{
    opacity: 100%;
    transform: scale(1);
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);

  .cartMenu{
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 12px;
    position: fixed;
    width: 600px;
    height: 60vh;
    background-color: var(--cart-color);
    -webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.25);
    margin-top: 20vh;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    right: -630px;
    transition: right 0.5s ease;
  }

  .hideScroll {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hideScroll::-webkit-scrollbar {
    width: 0;
    height: 0;
}

  .cartMenu.show{
    right: 0;
  }
  
  .header {
    border-color: var(--border-color);
    background-color: var(--background-color)
  }

  .product {
    border-color: #27272a;
    background-color: var(--background-color)
  }

  .profileMenu{
    opacity: 0%;
    transition: opacity 0.2s ease-in-out;
    border-color: #27272a;
    background-color: var(--background-color);
    pointer-events: none;
  }

  .profileMenu.show{
    pointer-events: all;
    opacity: 100%;
  }

  .fillButton{
    background-color: var(--fill-button-color);
    color: var(--fill-text-color)
  }

  .bestseller{
    border-color: var(--gold);
    border-width: 2px;
  }

  .bestsellerbg{
    background-color: var(--gold)
  }

  .filter{
    background-color: var(--searchbar-color);
  }

  .unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .filterChooser{
    background-color: var(--searchbar-color);
    opacity: 0%;
    z-index: 3;
    transition: opacity 0.2s ease;
    pointer-events: none;
  }

  .filterChooser.show{
    pointer-events: all;
    opacity: 100%;
  }

  .searchBar{
    background-color: var(--searchbar-color);
  }::placeholder{
    color: var(--searchbar-text);
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    appearance: none;
  }

  .no-spinner {
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  .formR {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    div{
      display: flex;
      flex-direction: column;
    }

    span{
      color:rgb(255, 102, 102);
    }

    label {
      font-weight: bold;
    }
    
    input {
      padding: 0.5rem;
      border: 1px solid #252525;
      border-radius: 4px;
    }
    
    .sumbitButton {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      background-color: var(--text-color);
      color: var(--background-color);
    }
    
    button:hover {
      opacity: 0.8;
    }
  }
}
