@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: white;
  --text-color: #27272a;
  --border-color: white;
  --fill-button-color: #27272a;
  --fill-text-color: white;
  --searchbar-color: #d5d3d8;
  --searchbar-text: rgb(116, 116, 116);
}

.dark {
  --background-color: #0a090d;
  --text-color: white;
  --border-color: #211e2b;
  --fill-button-color: white;
  --fill-text-color: #0a090d;
  --searchbar-color: #252525;
  --searchbar-text: rgb(187, 187, 187);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  
  .header {
    border-color: var(--border-color);
    background-color: var(--background-color)
  }

  .fillButton{
    background-color: var(--fill-button-color);
    color: var(--fill-text-color)
  }

  .searchBar{
    background-color: var(--searchbar-color);
  }::placeholder{
    color: var(--searchbar-text);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    div{
      display: flex;
      flex-direction: column;
    }

    span{
      color:rgb(255, 102, 102);
    }

    label {
      font-weight: bold;
    }
    
    input {
      padding: 0.5rem;
      border: 1px solid #252525;
      border-radius: 4px;
    }
    
    .sumbitButton {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      background-color: var(--text-color);
      color: var(--background-color);
    }
    
    button:hover {
      opacity: 0.8;
    }
  }
}
